<header>
  <mat-toolbar class="">
    <button mat-icon-button class="example-icon" aria-label="">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Quiza</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon face_5" aria-label="Account and Profile settings">
      <mat-icon>face_5</mat-icon>
    </button>
    <button mat-icon-button class="example-icon face_5" aria-label="share button to share Quiza with friends">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</header>
