:host{
  .screen-title{
    margin:0 0 25px 0;
    text-align: center;
    font-size: 33px;
    letter-spacing: 2px;
    line-height: 33px;
    font-weight: bold;
    background-color: rgba(26, 27, 28, 0.85);
    color: #18ffff;
    padding: 5px 0 5px 0;
  }
}

